@{
    ViewBag.Title = "Reatial Show Room Page";
}

@section styles {
    <link rel="stylesheet" href="~/Content/Css/RetailStores/Index.css" />
}

<div class="container">
    <h2 class="page-heading">
        <i class="fa-solid fa-shop"></i>
        Retails Stores
    </h2>
    <div class="content-section">
        <div class="row">
            <div class="row">
                @foreach (var retailShowRoom in ViewBag.RetailShowRooms)
                {
                    <div class="col-xl-4">
                        <div class="cardItem" href="#">
                            <img class="cardItem-thumbnail" style="height: 250px;" src="~/Uploads/RetailShowRoomImage/@retailShowRoom.Image" alt="Thumbnail" />
                            <div class="cardItem-body">
                                <h3 class="cardItem-headingName">
                                    <i class="fa-solid fa-store"></i>
                                    @retailShowRoom.Name
                                </h3>
                                <p class="cardItem-headingName">
                                    <i class="fa-solid fa-location-dot"></i>
                                    @retailShowRoom.Address
                                </p>
                                <p class="cardItem-headingName">
                                    <a href="tel: @retailShowRoom.Phone">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        @retailShowRoom.Phone
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


