.introduce {
    height: 400px;
    background-image: linear-gradient(#5d8aa8, var(--dark-bg-content));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introduce-text {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.introduce-name {
    font-size: 3.2rem;
    font-weight: 800;
    color: var(--primary);
}

.content-section {
    margin: 36px 0 0 10px; /* trêm dưới phải trái.*/
}

.content-sectionTitle {
    font-size: 2rem;
    font-weight: 600;
    color: var(--grey);
    text-align: center;
    padding: 12px 0;
    margin-bottom: 24px;
}

/* Card Item */
.cardItem {
    display: block;
    text-decoration: none;
    border: 1px solid #555;
    border-radius: 6px;
    box-shadow: 0 0 6px #666;
    background-color: #303030;
}

.cardItem-headingName {
    font-size: 1.6rem;
    color: var(--white);
    padding: 5px 4px;
}

.cardItem-thumbnail {
    width: 100%;
    border-radius: 6px;
}

.cardItem-detailBtn {
    text-decoration: none;
    display: block;
    width: 96%;
    background-color: var(--primary);
    color: #333;
    text-align: center;
    font-size: 1.6rem;
    margin: 0 auto 12px;
    padding: 8px;
    border-radius: 4px;
}

    .cardItem-detailBtn i {
        color: #333;
    }

.cardItem-body {
    padding: 12px;
}

h2 {
    font-size: 2.8rem;
    margin-bottom: 32px;
    color: #ccc;
}

.topNav-btn, .searchForm-btn {
    display: inline-block;
    color: #333;
    background-color: #00ffff;
    font-size: 1.6rem;
    padding: 12px 16px;
    border-radius: 6px;
    text-decoration: none;
}

.topNav-btn i {
    color: #333;
}

.topNav-btn:not(:first-child) {
    margin-left: 12px;
}

.topNav-btn:hover {
    color: #333;
    opacity: .8;
}


.topNav-search {
    display: inline-block;
}

.searchForm-btn i {
    color: #333;
}

.searchForm-btn:hover {
    color: #333;
    opacity: .8;
}

.searchForm-input {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 12px;
    border-radius: 6px;
    width: 400px;
    outline: none;
    color: #333;
}

.cardItem-thumbnail {
    width: 100%;
    border-radius: 6px;
}

.topNav {
    padding: 12px 0;
    border-bottom: 1px solid #555;
    margin-left: 12px;
}

.page-title{
    margin-left: 12px;
    margin-top: 10px
}

.cardItem-eq {
    padding: 5px 4px;
    font-size: 1.6rem;
}

.dataBox {
    margin-top: 10px;
}

.dataBox-heading {
    font-size: 1.6rem;
    color: var(--grey);
    margin-bottom: 16px;
    padding: 12px;
}

.retailStoreItem-action {
    margin-top: -8px;
}

.retailStoreItem-action {
    display: inline-block;
    font-size: 1.6rem;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    background-color: #e9d66b;
    margin-top: 8px;
    width: 25%;
    text-align: center;
}

.retailStoreItem-action {
    margin-left: 10px;
}

.retailStoreItem-action.dlt {
    background-color: #ff2052;
    color: #fff;
}

.retailStoreItem-action:hover {
    opacity: .8;
    color: #444;
}