.contact-email {
    font-size: 1rem;
    margin-left: 40px;
}

.contact-sentDate {
    font-size: 1.4rem;
}

.contactItem-body, .contactItem-actions {
    padding: 12px 0 0 10px;
}

.content-main {
    padding: 12px;
}

.topNav {
    padding: 12px 0;
    border-bottom: 1px solid #555;
}

.topNav-btnItem {
    display: inline-block;
    color: #333;
    background-color: var(--bgcl-btn);
    font-size: 1.6rem;
    padding: 12px 16px;
    border-radius: 6px;
    text-decoration: none;
}

.topNav-btnItem i {
    color: #333;
}

.topNav-btnItem:not(:first-child) {
    margin-left: 12px;
}

.topNav-btnItem:hover {
    color: #333;
    opacity: .8;
}

.dataBox {
    margin-top: 16px;
}

.dataBox-heading {
    font-size: 1.8rem;
    color: var(--grey);
    margin-bottom: 16px;
}

.contact {
    padding: 12px;
}

.contactItem {
    border-radius: 4px;
}

.contactItem:not(:first-child) {
    margin-top: 12px;
}

.contact-label {
    font-size: 1.2rem;
    color: var(--grey);
    margin-top: 24px;
    display: block;
}

.dataLine {
    margin-left: 24px;
}

.contactItem-name {
    font-size: 2.4rem;
}

.contactItem-content {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--grey);
    margin-top: 10px;
}

.contactItem-link {
    display: inline-block;
    text-decoration: none;
}

.contactItem-summary {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.contactItem-actions {
    margin-top: 30px;
}

.contactItem-action {
    display: inline-block;
    font-size: 1.6rem;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    background-color: #e9d66b;
    margin-top: 8px;
    width: 100px;
    text-align: center;
}

.contactItem-action {
    margin-left: 120px;
}

.contactItem-action.dlt {
    background-color: #ff2052;
    color: #fff;
}

.contactItem-action:hover {
    opacity: .8;
    color: #444;
}