@{
    ViewBag.Title = "Index";
}
@section styles {
    <link rel="stylesheet" href="~/Content/Css/Site/Index.css" />
}

<div class="container">
    <div class="introduce">
        <h1 class="introduce-name">
            Nexus
        </h1>
        <h1 class="introduce-text">
            choose your service
        </h1>
    </div>

    <div class="content-section">
        <h1 class="content-sectionTitle">
            What makes customers always trust and use Nexus service?
        </h1>

        <div class="row">
            <div class="col-xl-4">
                <img src="~/Content/Images/demo2.png" alt="Img section" style="width: 100%" />
            </div>
            <div class="col-xl-8">
                <span style="font-size: 1.6rem; font-weight: 400">
                    High and stable internet access speed. Owning more than 365,000 km of fiber optic cable and many fiber optic lines connecting internationally at sea and on land, ensuring the best service for customers. Applying the most advanced technologies to bring maximum experience to customers during service use (mesh wifi, xGSPON, Camera AI...)
                </span>
            </div>
        </div>
    </div>

    <div class="content-section">
        <h1 class="content-sectionTitle">
            Attractive Dial-up Packages
        </h1>

        <div class="row">
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section">
        <h1 class="content-sectionTitle">
            Attractive Broadband Packages
        </h1>

        <div class="row">
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

