@{
    ViewBag.Title = "Home Page";
}
@section styles {
    <link rel="stylesheet" href="~/Content/Css/Site/Index.css" />
}

<div class="container">
    <div class="introduce">
        <h1 class="introduce-name">
            Nexus
        </h1>
        <h1 class="introduce-text">
            choose your service
        </h1>
    </div>

    <div class="content-section">
        <h1 class="content-sectionTitle">
            What makes customers always trust and use Nexus service?
        </h1>

        <div class="row mt-5">
            <div class="col-xl-4">
                <img src="~/Content/Images/demo2.png" alt="Img section" style="width: 100%" />
            </div>
            <div class="col-xl-8">
                <span style="font-size: 1.6rem; font-weight: 400">
                    High and stable internet access speed. Owning more than 365,000 km of fiber optic cable and many fiber optic lines connecting internationally at sea and on land, ensuring the best service for customers. Applying the most advanced technologies to bring maximum experience to customers during service use (mesh wifi, xGSPON, Camera AI...)
                </span>
            </div>
        </div>
    </div>

    <div class="content-section">
        <h1 class="content-sectionTitle">
            <i class="fa-solid fa-globe"></i>
            Current Nexus services
        </h1>

        <div class="serviceItem">
            <div class="row">
                <div class="col-xl-4">
                    <img style="width: 100%;" class="serviceItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Service Thumbnail" />
                </div>
                <div class="col-xl-8">
                    <h2 class="serviceItem-name">
                        Dial-up
                    </h2>
                    <p class="serviceItem-summary">
                        A dial-up connection is established when two or more communication devices use a public switched telephone network (PSTN) to connect to an Internet service provider (ISP).
                    </p>
                    <p class="serviceItem-deposit">
                        With a deposit of <span class="serviceItem-depositValue">325$</span>
                    </p>
                    <a href="/Service/Detail" class="serviceItem-detailBtn">
                        View Detail
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="serviceItem">
            <div class="row">
                <div class="col-xl-4">
                    <img style="width: 100%;" class="serviceItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Service Thumbnail" />
                </div>
                <div class="col-xl-8">
                    <h2 class="serviceItem-name">
                        Broadband
                    </h2>
                    <p class="serviceItem-summary">
                        The term broadband commonly refers to high-speed Internet access that is always on and faster than the traditional dial-up access. Broadband includes several high-speed transmission technologies such as: Digital Subscriber Line (DSL) Cable Modem. Fiber.
                    </p>
                    <p class="serviceItem-deposit">
                        With a deposit of <span class="serviceItem-depositValue">500$</span>
                    </p>
                    <a href="/Service/Detail" class="serviceItem-detailBtn">
                        View Detail
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="serviceItem">
            <div class="row">
                <div class="col-xl-4">
                    <img style="width: 100%;" class="serviceItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Service Thumbnail" />
                </div>
                <div class="col-xl-8">
                    <h2 class="serviceItem-name">
                        Landline
                    </h2>
                    <p class="serviceItem-summary">
                        A Digital Subscriber Line (DSL) broadband connection uses the wiring placed for phone services to provide Internet access for your home or business.
                    </p>
                    <p class="serviceItem-deposit">
                        With a deposit of <span class="serviceItem-depositValue">250$</span>
                    </p>
                    <a href="/Service/Detail" class="serviceItem-detailBtn">
                        View Detail
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section">
        <h1 class="content-sectionTitle">
            <i class="fa-solid fa-question"></i>
            Reasons why you should use our service
        </h1>

        <div class="reasons">
            <div class="row">
                <div class="col-xl-6">
                    <div class="reasonItem">
                        <i class="fa-regular fa-square-check"></i>
                        Flexibility when working remotely thanks to telecommunications services
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="reasonItem">
                        <i class="fa-regular fa-square-check"></i>
                        Nexus is ready to serve customers 24/7
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="reasonItem">
                        <i class="fa-regular fa-square-check"></i>
                        Support development and improve productivity in business through telecommunications
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="reasonItem">
                        <i class="fa-regular fa-square-check"></i>
                        Nexus has always cared about customer experience
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="reasonItem">
                        <i class="fa-regular fa-square-check"></i>
                        Always respect, listen to customers to change and serve the most perfect product, service
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="reasonItem">
                        <i class="fa-regular fa-square-check"></i>
                        Develop and adapt quickly to the new technology era 4.0
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="reasonItem">
                        <i class="fa-regular fa-square-check"></i>
                        Telecommunications services bring the most advanced communication methods to customers
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="reasonItem">
                        <i class="fa-regular fa-square-check"></i>
                        Flexible and diverse pricing policy suitable for all customers
                    </div>
                </div>
               
                </div>
            </div>
        </div>

    @*<div class="content-section">
        <h1 class="content-sectionTitle">
            Attractive Dial-up Packages
        </h1>

        <div class="row">
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section">
        <h1 class="content-sectionTitle">
            Attractive Broadband Packages
        </h1>

        <div class="row">
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>*@
</div>

