<header class="header">
    <div class="container-fluid" style="height: 100%">
        <div class="header-container">
            <a class="header-logoLink" href="/Admin">
                <img class="header-logoImg" src="~/Content/Images/logo-removebg.png" alt="MainLogo" />
                <span class="header-logoText">
                    Nexus Adminstrator
                    <i class="fa-solid fa-hammer"></i>
                </span>
            </a>

            <nav class="header-nav">
                <a class="header-navItem" href="/Admin/Employee/SignOut">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    Sign Out
                </a>
            </nav>
        </div>
    </div>
</header>