@using eProject.Auth

<div class="sidebar">
    <h4 class="sidebar-heading">
        <i class="fa-solid fa-bars-staggered"></i>
        Management Menu
    </h4>
    <nav class="sidebar-menu">
        @if (AuthManager.CurrentEmployee.IsAdmin)
        {
            <a class="sidebar-menuItem" href="/Admin/Service">
                <i class="fa-solid fa-lines-leaning"></i>
                Service
            </a>
            <a class="sidebar-menuItem" href="/Admin/Employee">
                <i class="fa-solid fa-lines-leaning"></i>
                Employee
            </a>
            <a class="sidebar-menuItem" href="/Admin/PaymentPlan">
                <i class="fa-solid fa-lines-leaning"></i>
                Payment plan
            </a>
            <a class="sidebar-menuItem" href="/Admin/CallChargeType">
                <i class="fa-solid fa-lines-leaning"></i>
                Call charge type
            </a>
            <a class="sidebar-menuItem" href="/Admin/RetailShowRoom">
                <i class="fa-solid fa-lines-leaning"></i>
                Retail Show Room
            </a>
            <a class="sidebar-menuItem" href="/Admin/Equipment">
                <i class="fa-solid fa-lines-leaning"></i>
                Equipment
            </a>
            <a class="sidebar-menuItem" href="/Admin/Warehouse">
                <i class="fa-solid fa-lines-leaning"></i>
                Warehouse
            </a>
            <a class="sidebar-menuItem" href="/Admin/Supplier">
                <i class="fa-solid fa-lines-leaning"></i>
                Supplier
            </a>
            <a class="sidebar-menuItem" href="/Admin/City">
                <i class="fa-solid fa-lines-leaning"></i>
                City
            </a>
        }
        <a class="sidebar-menuItem" href="/Admin/Contact">
            <i class="fa-solid fa-lines-leaning"></i>
            Contact
        </a>

    </nav>
</div>