<div class="sidebar">
    <h4 class="sidebar-heading">
        Adminstrator Menu
    </h4>
    <nav class="sidebar-menu">
        <a class="sidebar-menuItem" href="/Admin">
            <i class="fa-solid fa-headphones"></i>
            Headphones
        </a>
        <a class="sidebar-menuItem" href="/Admin">
            <i class="fa-solid fa-headphones"></i>
            Headphones
        </a>
        <a class="sidebar-menuItem" href="/Admin">
            <i class="fa-solid fa-headphones"></i>
            Headphones
        </a>
        <a class="sidebar-menuItem" href="/Admin">
            <i class="fa-solid fa-headphones"></i>
            Headphones
        </a>
        <a class="sidebar-menuItem" href="/Admin">
            <i class="fa-solid fa-headphones"></i>
            Headphones
        </a>
    </nav>
</div>