@using eProject.Auth

<div class="sidebar">
    <h4 class="sidebar-heading">
        <i class="fa-solid fa-bars-staggered"></i>
        Management Menu
    </h4>
    <nav class="sidebar-menu">
        @if (AuthManager.CurrentEmployee.IsAdmin)
        {
            <a class="sidebar-menuItem" href="/Admin/Service">
                <i class="fa-solid fa-lines-leaning"></i>
                Services
            </a>
            <a class="sidebar-menuItem" href="/Admin/Employee">
                <i class="fa-solid fa-lines-leaning"></i>
                Employees
            </a>
            <a class="sidebar-menuItem" href="/Admin/Customer">
                <i class="fa-solid fa-lines-leaning"></i>
                Customer
            </a>
            <a class="sidebar-menuItem" href="/Admin/PaymentPlan">
                <i class="fa-solid fa-lines-leaning"></i>
                Payment plans
            </a>
            <a class="sidebar-menuItem" href="/Admin/CallChargeType">
                <i class="fa-solid fa-lines-leaning"></i>
                Call charge types
            </a>
            <a class="sidebar-menuItem" href="/Admin/RetailShowRoom">
                <i class="fa-solid fa-lines-leaning"></i>
                Retail Show Rooms
            </a>
            <a class="sidebar-menuItem" href="/Admin/Equipment">
                <i class="fa-solid fa-lines-leaning"></i>
                Equipments
            </a>
            <a class="sidebar-menuItem" href="/Admin/Warehouse">
                <i class="fa-solid fa-lines-leaning"></i>
                Warehouses
            </a>
            <a class="sidebar-menuItem" href="/Admin/Supplier">
                <i class="fa-solid fa-lines-leaning"></i>
                Suppliers
            </a>
            <a class="sidebar-menuItem" href="/Admin/City">
                <i class="fa-solid fa-lines-leaning"></i>
                Citys
            </a>
            <a class="sidebar-menuItem" href="/Admin/ConnectQuantityDiscount">
                <i class="fa-solid fa-lines-leaning"></i>
                Connect quantity discounts
            </a>
            <a class="sidebar-menuItem" href="/Admin/CustomerFeedback">
                <i class="fa-solid fa-lines-leaning"></i>
                Customer feedback
            </a>
        }
        <a class="sidebar-menuItem" href="/Admin/Contact">
            <i class="fa-solid fa-lines-leaning"></i>
            Contacts
        </a>
    </nav>
    <h4 class="sidebar-heading">
        <i class="fa-solid fa-money-check-dollar"></i>
        Work Menu
    </h4>
    <nav class="sidebar-menu">
        <a class="sidebar-menuItem" href="/Admin/Order">
            <i class="fa-solid fa-lines-leaning"></i>
            Orders
        </a>
        <a class="sidebar-menuItem" href="/Admin/Account">
            <i class="fa-solid fa-lines-leaning"></i>
            Accounts
        </a>

    </nav>
</div>