<div class="sidebar">
    <h4 class="sidebar-heading">
        <i class="fa-solid fa-bars-staggered"></i>
        Management Menu
    </h4>
    <nav class="sidebar-menu">
        <a class="sidebar-menuItem" href="/Admin/Service">
            Service management
        </a>
        <a class="sidebar-menuItem" href="/Admin/Contact">
            Contact management
        </a>
    </nav>
</div>