@using eProject.Auth

<div class="sidebar">
    <h4 class="sidebar-heading">
        <i class="fa-solid fa-bars-staggered"></i>
        Management Menu
    </h4>
    <nav class="sidebar-menu">
        @if (AuthManager.CurrentEmployee.IsAdmin)
        {
            <a class="sidebar-menuItem" href="/Admin/Service">
                Service management
            </a>
            <a class="sidebar-menuItem" href="/Admin/Employee">
                Employee management
            </a>
            <a class="sidebar-menuItem" href="/Admin/RetailShowRoom">
                Retail Show Room management
            </a>
            <a class="sidebar-menuItem" href="/Admin/PaymentPlan">
                Payment plan management
            </a>
            <a class="sidebar-menuItem" href="/Admin/CallChargeType">
                Call charge type management
            </a>
            <a class="sidebar-menuItem" href="/Admin/Equipment">
                Equipment management
            </a>
            <a class="sidebar-menuItem" href="/Admin/Warehouse">
                Warehouse management
            </a>
            <a class="sidebar-menuItem" href="/Admin/WarehouseEquipment">
                Warehouse equipment management
            </a>
            <a class="sidebar-menuItem" href="/Admin/Contact">
                Contact management
            </a>
            <a class="sidebar-menuItem" href="/Admin/Supplier">
                Supplier management
            </a>
        }


    </nav>
</div>