*{
    font-size: 1.6rem;
}

.col {
    display: table-cell;
    padding: 1rem;
    display: block;
}

.content-body {
    text-indent: 2rem;
    padding: inherit;
    padding-left: 1rem;
    border: 1px solid white;
    margin-left: 32px;
    border-radius: 6px;
}

.content-one {
    padding-left: 2rem;
}

h2{
    font-size: 2.8rem;
    margin-bottom: 32px;
    color: #ccc;
}
