.introduce {
    height: 400px;
    background-image: linear-gradient(#5d8aa8, var(--dark-bg-content));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introduce-text {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.introduce-name {
    font-size: 3.2rem;
    font-weight: 800;
    color: var(--primary);
}

.content-section {
    margin: 48px 0;
}

.content-sectionTitle {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--grey);
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid #555;
}

/* Card Item */
.cardItem {
    display: block;
    text-decoration: none;
    border: 1px solid #555;
    border-radius: 6px;
    padding: 12px 0;
    box-shadow: 0 0 6px #666;
    background-color: #303030;
}

.cardItem-headingName {
    font-size: 2rem;
    color: var(--white);
    padding: 16px 4px;
}

.cardItem-thumbnail {
    width: 100%;
}

.cardItem-price {
    font-size: 1.6rem;
    color: var(--white);
    padding: 16px 4px;
}

.cardItem-detailBtn {
    text-decoration: none;
    display: block;
    width: 96%;
    background-color: var(--primary);
    color: #333;
    text-align: center;
    font-size: 1.6rem;
    margin: 0 auto 12px;
    padding: 8px;
    border-radius: 4px;
}

.cardItem-detailBtn i {
    color: #333;
}

/* Services CSS */
.serviceItem {
    margin-top: 42px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 12px #55555588;
}

.serviceItem-name {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.serviceItem-summary {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--grey);
    margin-bottom: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.serviceItem-deposit {
    font-size: 2rem;
    font-weight: 600;
    color: var(--grey);
    margin-bottom: 16px;
}

.serviceItem-depositValue {
    color: #fbceb1;
}

.serviceItem-detailBtn {
    font-size: 1.6rem;
    font-weight: 400;
    color: #333;
    background-color: var(--primary);
    text-decoration: none;
    border-radius: 4px;
    padding: 12px 20px;
    margin-top: 12px;
    display: inline-block;
}
.serviceItem-detailBtn i {
    color: #333;
}

.serviceItem-detailBtn:hover {
    color: #333;
    opacity: .8;
}

/* Reasons */
.reasons {
    margin-top: 36px;
}

.reasonItem {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 16px;
    text-align: center;
}

.reasonItem i {
    color: #a4c639;
    margin-right: 8px;
}