@{
    ViewBag.Title = "Package Detail";
}
@section styles {
    <link rel="stylesheet" href="~/Content/Css/Package/Detail.css" />
}

<div class="container">
    <h1 class="page-title">
        Information Detail SN299 Package
    </h1>
    <div class="summaryInfoBox">
        <div class="row">
            <div class="col-xl-4">
                <div class="summaryInfoItem">
                    <p class="summaryInfoItem-heading">
                        Package Name
                    </p>
                    <h3 class="summaryInfoItem-value">
                        <i class="fa-brands fa-usps"></i>
                        SN299
                    </h3>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="summaryInfoItem">
                    <p class="summaryInfoItem-heading">
                        Price Per Month
                    </p>
                    <h3 class="summaryInfoItem-value">
                        <i class="fa-solid fa-money-bill"></i>
                        325$
                    </h3>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="summaryInfoItem">
                    <p class="summaryInfoItem-heading">
                        Speed
                    </p>
                    <h3 class="summaryInfoItem-value">
                        <i class="fa-solid fa-gauge"></i>
                        300Mbps
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="infoBox">
        <div class="row">
            <div class="col-xl-4">
                <img style="width: 100%;" class="infoThumbnail" src="~/Content/Images/demo.jpg" alt="Package Thumbnail" />
            </div>
            <div class="col-xl-8">
                <div class="descriptionBox">
                    <h3 class="descriptionTitle">
                        Advantages of service provided by Nexus:
                    </h3>
                    <div class="descriptionContent">
                        <ul>
                            <li>Trang bị thiết bị trong suốt thời gian sử dụng.</li>
                            <li>Miễn phí lắp đặt và tặng thêm đến 4 tháng cước khi Khách hàng đóng trước cước.</li>
                            <li>Lắp đặt nhanh, hỗ trợ Khách hàng 24/7.</li>
                            <li>Tốc độ Download/Upload bằng nhau có thể lên đến hàng trăm Mbps.</li>
                            <li>Đăng ký dễ dàng, tiện lợi qua tổng đài hoặc tại hệ thống cửa hàng Viettel trên toàn quốc.</li>
                            <li>Chi tiết liên hệ: 18008168 (Miễn phí).</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="registerBox">
        <h2 class="registerBoxTitle">
            Prepayment plan
        </h2>
        <div class="prepaymentItem active">
            <h4 class="prepaymentItem-name">
                Closed 6 months in advance
            </h4>
            <p class="prepaymentItem-price">
                1,300$
            </p>
            <p class="prepaymentItem-description">
                2 month promotion
            </p>
        </div>
        <div class="prepaymentItem">
            <h4 class="prepaymentItem-name">
                Closed 12 months in advance
            </h4>
            <p class="prepaymentItem-price">
                2,600$
            </p>
            <p class="prepaymentItem-description">
                4 month promotion
            </p>
        </div>
        <div class="mt-5">
            <a class="registerBtn" href="/">
                Register Package
            </a>
        </div>
    </div>
    <div class="otherPackagesBox">
        <h1 class="boxTitle">
            Other packages
        </h1>

        <div class="row mt-5">
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="cardItem" href="/">
                    <h3 class="cardItem-headingName">
                        SN299
                    </h3>
                    <img class="cardItem-thumbnail" src="~/Content/Images/demo.jpg" alt="Thumbnail" />
                    <p class="cardItem-price">
                        <i class="fa-solid fa-money-bill"></i>
                        Price:
                        325$ / Month
                    </p>
                    <a class="cardItem-detailBtn" href="/">
                        View Detail <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

