.content-main {
    padding: 12px;
}

.page-title {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--grey);
}

.highlight {
    color: #fae7b5;
}

/* Data box */

.dataBox {
    margin-top: 16px;
}

.form-group {
    padding: 12px 0;
}

.form-label, .form-input, .form-btn, .form-dropDownList {
    font-size: 1.6rem;
}

.form-label {
    display: block;
}

.form-input {
    margin-top: 8px;
    padding: 8px;
    border-radius: 6px;
    width: 100%;
    color: #333;
    outline: none;
}

.form-btn {
    padding: 12px 20px;
    border-radius: 6px;
    background: var(--primary);
    color: #333;
    border: none;
    outline: none;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    margin-top: 16px;
}

    .form-btn:hover {
        opacity: .8;
    }

.invalidMessage {
    font-size: 1.6rem;
    color: red;
    animation: ringring ease-out .3s;
}

@keyframes ringring {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 10px;
    }

    50% {
        margin-left: -10px;
    }

    75% {
        margin-left: 10px;
    }

    100% {
        margin-left: -10px;
    }
}
