<div class="leftSidebar">
    <h3 class="leftSidebar-heading">
        <i class="fa-solid fa-bars"></i>
        Menu profile
    </h3>
    <nav class="leftSidebar-nav">
        <a class="leftSidebar-navItem" href="/Customer/Profile">
            Profile
        </a>
        <a class="leftSidebar-navItem" href="/Customer/MyOrders">
            My orders
        </a>
        <a class="leftSidebar-navItem" href="/Customer/MyConnections">
            My accounts
        </a>
    </nav>
</div>