<div class="footer">
    <div class="container">
        <div class="footer-container">
            <div class="row">
                <div class="col-xl-4">
                    <img class="footer-bigLogoImg" src="~/Content/Images/logo-with-text.png" alt="BigLogoImage" />
                </div>
                <div class="col-xl-4">
                    <h3 class="footer-heading">
                        About Nexus
                    </h3>
                    <a class="footer-lineLink" href="tel:0121685741">
                        Phone: 0121685741
                    </a>
                    <a class="footer-lineLink" href="mailto:nexusservice@("@")gmail.com">
                        Mail: nexusservice@("@")gmail.com
                    </a>
                    <p class="footer-line">
                        Address: Ly Tu Trong, Can Tho, Viet Nam
                    </p>
                </div>
                <div class="col-xl-4">
                    <h3 class="footer-heading">
                        Need Helps
                    </h3>
                    <a class="footer-lineLink" href="tel:0121685741">
                        FAQ
                    </a>
                    <a class="footer-lineLink" href="nexusservice@("@")gmail.com">
                        How to order a service
                    </a>
                    <a class="footer-lineLink" href="nexusservice@("@")gmail.com">
                        Contact us
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>