@using eProject.Auth

<header class="header">
    <div class="container" style="height: 100%">
        <div class="header-container">
            <a class="header-logoLink" href="/">
                <img class="header-logoImg" src="~/Content/Images/logo-removebg.png" alt="MainLogo" />
            </a>

            <nav class="header-nav">
                <a class="header-navItem" href="/">
                    Home
                </a>
                <a class="header-navItem" href="/Contact">
                    Contact
                </a>
                <span class="header-navItem">
                    Services
                    <i class="fa-solid fa-caret-down"></i>

                    <span class="header-subNav">
                        @foreach (var item in eProject.Helpers.ServiceHelper.GetLv2MenuService())
                        {
                            <a class="header-subNavItem" href="/Service/Detail?serviceID=@item.ServiceID">
                                @item.ServiceName
                            </a>
                        }
                    </span>
                </span>
                <a class="header-navItem" href="~/RetailStores/Index">
                    Retails stores
                </a>
            </nav>

            <nav class="header-userNav">
                @if (!AuthManager.IsCustomerAuthenticated)
                {
                    <a class="header-userNavItem" href="/Customer/Login">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Sign In
                    </a>
                }
                else
                {
                    <a class="header-userNavItem" href="/Customer/Profile">
                        <i class="fa-solid fa-address-card"></i>
                        Profile
                    </a>
                    <a class="header-userNavItem" href="/Customer/SignOut">
                        <i class="fa-solid fa-door-open"></i>
                        Sign Out
                    </a>
                }
            </nav>
        </div>
    </div>
</header>