
@{ 
    ViewBag.Title = "Warehouse Equipment";
}
@section styles{
    <link rel="stylesheet" href="~/Content/Css/AdminCss/WarehouseEquipment/Index.css" />
}


<h1 class="page-title">
    Warehouse equipment management
</h1>
<nav class="topNav">
    <a class="topNav-btn" href="~/Admin/WarehouseEquipment/Add">
        <i class="fa-solid fa-plus"></i>
        Add new warehouse equipment
    </a>
</nav>

<h1 class="page-title-h1">List of warehouses equipment</h1>

<div class="container">
    <div class="content-section">
        <div class="row">
            @foreach (var warehouse in ViewBag.warehouses)
            {
                <div class="col-xl-3">
                    <div class="warehouseEquipment" href="#">
                        <div class="warehouseEquipment-body">
                            <p class="warehouseEquipment-eq">
                                <i class="fa-solid fa-warehouse"></i>
                                @warehouse.Name
                            </p>
                            <div class="warehouseEquipment-actions">
                                <a class="warehouseEquipment-action" href="/Admin/WarehouseEquipment/List?warehouseID=@warehouse.WarehouseID">
                                    View Equipment In Warehouse
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script>
    $(".deleteAction").click(e => {
            if (!confirm("Are you sure you want to delete")) {
                e.preventDefault();
            }
        })</script>
}

