.content-main {
    padding: 12px;
}

.topNav {
    padding: 12px 0;
    border-bottom: 1px solid #555;
}

.topNav-btnItem {
    display: inline-block;
    color: #333;
    background-color: var(--bgcl-btn);
    font-size: 1.6rem;
    padding: 12px 16px;
    border-radius: 6px;
    text-decoration: none;
}
.topNav-btnItem i {
    color: #333;
}
.topNav-btnItem:not(:first-child) {
    margin-left: 12px;
}

.topNav-btnItem:hover {
    color: #333;
    opacity: .8;
}

.dataBox {
    margin-top: 16px;
}

.dataBox-heading {
    font-size: 1.4rem;
    color: var(--grey);
    margin-bottom: 16px;
}

.services {
    padding: 12px;
}

.serviceItem {
    box-shadow: 0 0 10px #55555588;
    border-radius: 4px;
}
.serviceItem:not(:first-child) {
    margin-top: 12px;
}

.serviceItem-img {
    width: 100%;
    border-radius: 4px;
}

.serviceItem-body, .serviceItem-actions {
    padding: 12px 0;
}

.serviceItem-name {
    font-size: 2.2rem;
}

.serviceItem-summary, .serviceItem-deposit {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--grey);
    margin-top: 10px;
}

.serviceItem-summary {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.serviceItem-actions {
    margin-top: -8px;
}

.serviceItem-action {
    display: inline-block;
    font-size: 1.6rem;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    background-color: #e9d66b;
    margin-top: 8px;
}
.serviceItem-action {
    margin-left: 10px;
}
.serviceItem-action.dlt {
    background-color: #ff2052;
    color: #fff;
}
.serviceItem-action:hover {
    opacity: .8;
    color: #444;
}